body {
    background: lightgrey;
    font-size: 62.5%;
}

#root {
    font-size: 1rem;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

h1 {
    font-size: 1.6rem;
}
h2 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.2rem;
}

.cms-group-container {
    background: white;
}
.cms-group-item {
    border: thin solid pink;
}
.cms-items-container {
    display: flex;
}
.cms-item {
    border: thin solid grey;
    margin: 10px;
    padding: 10px;
}