.cms-container {
    font-size: 1.3rem;
    h3 {
        text-transform: capitalize;
        padding: $spacing-small;
    }
    button {
        padding: 16px 32px;
    }
    .cms-group-container {
        width: 100%;
    }
    .cms-group-item {
        margin: $spacing-regular 0;
    }
    .cms-items-container {
        // display: flex;
        // flex-wrap: wrap;
    }
    .cms-item {
        border-top: 1px solid $brand-color-light-primary;
        // &:nth-of-type(2n) {
        //     background: $background-color-highlight;
        // }
    }
    .cms-item-container-legend {
        // background: $brand-color-primary;
        color: $brand-color-primary;
        font-weight: bold;
        text-transform: uppercase;
    }
    .cms-item-label {
        width: calc(16.66% - 10px);
        overflow: hidden;
        white-space:nowrap;
        display: inline-block;
        margin-top: $spacing-xs; //frikken ghostspace
        padding: $spacing-small;
        &:first-of-type {
            width: calc(22% - 10px);
        }
        &:nth-of-type(2) {
            font-weight: bold;
            width: calc(14% - 10px);
        }
        &:nth-of-type(3) {
            width: calc(14% - 10px);
        }
    }
    .cms-item-delete, .cms-item-restore {
        text-align: center;
        width: 30px;
    }
    .container-deleted {
        background: $background-color-warning;
        h3 {
            color: $warning-color;
        }
        .cms-item-container-legend {
            color: $warning-color;
        }
        .cms-item {
            border-color: $warning-color;
        }
    }

    .cms-form-container {
        background: $background-color-highlight;
        form {
            padding: $spacing-small;
            label {
                width: 60px;
                display: inline-block;
            }
            button {
                margin-top: $spacing-small;
            }
        }
    }
}

